@font-face {
  font-family: "MetricHPE";
  src: url(../MetricHPE-Web-Regular.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MetricHPE";
  src: url(../MetricHPE-Web-RegularItalic.woff) format(woff);
  font-weight: normal;
  font-style: italic, oblique;
}

@font-face {
  font-family: "MetricHPE";
  src: url(../MetricHPE-Web-Bold.woff) format(woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MetricHPE";
  src: url(../MetricHPE-Web-BoldItalic.woff) format(woff);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Mono";
  src: url(../PTMono-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

body, input {
  font-family: "MetricHPE", sans-serif;
}

code, kbd, pre {
  font-family: "PT Mono", monospace;
}

.superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.superfences-tabs .highlight {
  background: #eaeaea;
}

.superfences-tabs .superfences-content {
  display: none;
  order: 99;
  width: 100%;
}

.superfences-tabs label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}

.superfences-tabs input {
  position: absolute;
  opacity: 0;
}

.superfences-tabs input:nth-child(n+1) {
  color: #333333;
}

.superfences-tabs input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
    display: block;
}
/* attempt at customizing the material theme header bar */
header.md-header {
  background: rgb(1, 169, 130);
  color: white;
}
/* disabling the per-page table of contents altogether 
.md-sidebar--secondary {
  display: none;
}
*/

/* making the hpe logo nice */
a.md-header-nav__button.md-logo > img {
  width: 4em !important;
  height:1.3em !important;
  object-fit: cover !important;
}